{% extends 'sentinel/base.html' %}

{% block content %}
<h1>
  Not permitted
</h1>
<p>
  We've been unable to identify your IP address. In order to avoid abuse, your access has been denied.
</p>
<p>
  Sorry for any inconvenience. Please contact the site administrator if you require assistance.
</p>
<p>
  Please note that your usage of this website is subject to the terms of use published thereon. The site owners reserve the right to prosecute in a court of law any breach of these terms of use at their sole discretion.
</p>
{% endblock %}